.env
__pycache__/
.pytest_cache/
*.pyc
workspace/**
!workspace/**/.gitkeep
/.idea/.gitignore
/.idea/mammography-ai-agent.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
